@import "tailwindcss";


@theme {
  --font-FigtreeBold: Figtree-Bold, "sans-serif";
  --font-Figtree: Figtree, "sans-serif";
  --font-FigtreeMedium: Figtree-Medium, "sans-serif";
  --font-FigtreeSemiBold: Figtree-SemiBold, "sans-serif";
  --font-FigtreeExtraBold: Figtree-ExtraBold, "sans-serif";  
}

html,
body {
  background-color: bg-gradient-to-r from-slate-900 to-slate-700;
  max-width: 100vw;
  overflow-x: hidden;
}

@font-face {
  font-family: Figtree-Bold;
  src: url("/Figtree-Bold.ttf") format("truetype");
}

@font-face {
  font-family: Figtree;
  src: url("/Figtree-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Figtree-Medium;
  src: url("/Figtree-Medium.ttf") format("truetype");
}

@font-face {
  font-family: Figtree-SemiBold;
  src: url("/Figtree-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: Figtree-ExtraBold;
  src: url("/Figtree-ExtraBoldItalic.ttf") format("truetype");
}







