@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));


@theme {
  --color-Xprimary: #FAFAFA;
  --color-Xprimary-dark: #000000;
  --color-Xborder-dark: #2A2A2A;
  --color-XlightText: #B9B9B9;
  --color-Xbg-darkGray: #0A0A0A;
  --color-Xborder-light: #E8E8E8;
}

html,
body { 
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
}

@theme {
  --font-sans: "Figtree", sans serif;
  --font-bold: "Figtree-Bold", sans serif;
}


@font-face {
  font-family: "Figtree";
  src: url("/Figtree-Regular.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Figtree-Bold";
  src: url("/Figtree-Bold.ttf") format("truetype");
  font-weight: 400;
  font-style: Bold;
}