@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));


@theme {
  --color-Xprimary: #FAFAFA;
  --color-Xprimary-dark: #000000;
  --color-Xborder-dark: #2A2A2A;
  --color-XlightText: #B9B9B9;
  --color-Xbg-darkGray: #0A0A0A;
  --color-Xborder-light: #E8E8E8;
}

html,
body { 
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
}

@theme {
  --font-sans: "Figtree", sans serif;
  --font-bold: "Figtree-Bold", sans serif;
}




@keyframes slot-shuffle {
  0%   { transform: translateY(-100%); opacity: 0; }
  50%  { transform: translateY(00%); opacity: 1; }
  100% { transform: translateY(100%); opacity: 0; }
}




.slot-char-base {
  display: inline-block;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  pointer-events: auto;
}

.slot-char-base.shuffle { animation: slot-shuffle 0.3s ease-in-out; }
.slot-char-base.final   { animation: slot-final 0.3s ease-out forwards; }

.slot-char-base:hover {
  transform: translateY(-10%);
  opacity: 0.8;
}

@keyframes slot-shuffle {
  0%   { transform: translateY(-100%); opacity: 0; }
  50%  { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(100%); opacity: 0; }
}
@keyframes slot-final {
  0%   { transform: translateY(-100%); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}





@font-face {
  font-family: "Figtree";
  src: url("/Figtree-Regular.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Figtree-Bold";
  src: url("/Figtree-Bold.ttf") format("truetype");
  font-weight: 400;
  font-style: Bold;
}