@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));


@theme {
  --color-Xprimary: #FAFAFA;
  --color-Xprimary-dark: #000000;
  --color-Xborder-dark: #2A2A2A;
  --color-XlightText: #B9B9B9;
  --color-Xbg-darkGray: #0A0A0A;
  --color-Xborder-light: #E8E8E8;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  
}

@theme {
  --font-Figtree: Figtree, sans-serif;
  --font-FigtreeBold: Figtree-Bold, sans-serif;
  --font-FigtreeMedium: Figtree-Medium, sans-serif;
  --font-FigtreeSemiBold: Figtree-SemiBold, sans-serif;
  --font-FigtreeExtraBold: Figtree-ExtraBold, sans-serif;
}
